@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
        
#navbar{
    /* position: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #D4D7DE;
    width: 100%;
    height: 60px;
    z-index: 1;
}
.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 5%;
}
.logo {
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 25px;
}

a{
    margin: 10px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover{
    color: #fff;
}
.logo img{
    width: 170px;
    height: 33px;
}
#query{
    float: right;
  padding: 6px;
  border: none;
  /* margin-top: 8px; */
  margin-right: 16px;
  font-size: 17px;
  width: 300px;
  
  /* border: 1px solid green; */
  
}
#searchbutton{
  margin-right: 16px;
  margin-left: 0;
  padding-left: 0;
  background: #D4D7DE;
  font-size: 17px;
  border: none;
  cursor: pointer;

  
}


::-webkit-scrollbar {
    width: 0px;
  }
/* search Div */
.searchRecepie{
    position: absolute;
    width: 312px;
    height: 380px;
    border: none;
    outline: none;
  /* background-color: aqua; */
    overflow: scroll;
    right: 333px;
    top: 47px;
    background-color: rgba(0, 0, 0, 0);
}
.smallDiv{
    width: 405px;
    height: 80px;
   
    display: flex;
    cursor: pointer;
    background-color: #f5f5f5;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.smallDiv:hover{
    background-color: beige;
}
.textdiv{

    width: 210px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 1px solid blue; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0;
    padding: 0;

}
#posterImage
{
    height: 75px;
    width: 100px;
    margin-left: 5px;
}
.recepieText{
    text-overflow:ellipsis; 
}
.cv{
    width: 100%;
    height: 450px;
    border: 1px solid green;
}
